<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace='layout/header :: header'></head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">

<!-- wrapper -->
<div class="wrapper">
    <div th:replace='layout/top :: top'></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace='layout/left :: left'></div>
    <!-- /Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                广告位
                <small th:text="${'共计 '+adCount+' 个广告位'}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">广告位</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a th:href="@{/ad/add}"
                       class="btn btn-md btn-primary">增加
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>编号</th>
                                    <th>位置</th>
                                    <th>类型</th>
                                    <th>名称</th>
                                    <th>链接</th>
                                    <th>图片</th>
                                    <th>可用</th>
                                    <th>操作</th>
                                </tr>
                                <tr th:each="item,state : ${adPageInfo.list}">
                                    <td>
                                        <span th:text="${item.id}"></span>
                                    </td>
                                    <td th:text="${@enumService.getAdPositionType(item.adPositionId)}"></td>
                                    <td th:text="${@enumService.getMediaType(item.mediaType)}"></td>
                                    <td>
                                        <a th:href="@{'/ad/'+${item.id}}" th:text="${item.name}"></a>
                                    </td>
                                    <td th:text="${item.link}"></td>
                                    <td>
                                        <a th:href="@{${item.imageUrl}}" target="_blank">
                                            <img th:src="${item.imageUrl}" th:alt="${item.imageUrl}"
                                                 style="height: 20px;">
                                        </a>

                                    </td>
                                    <td><span th:class="${item.enabled==1}? 'label label-success':'label label-danger'"
                                              th:text="${item.enabled==1}? '是':'否'"></span></td>
                                    <td>
                                        <a th:href="@{/ad/enabled(id=${item.id},enabled=0)}" th:if="${item.enabled==1}"
                                           class="btn btn-xs btn-flat bg-orange">
                                            下架
                                        </a>
                                        <a th:href="@{/ad/enabled(id=${item.id},enabled=1)}" th:if="${item.enabled==0}"
                                           class="btn btn-xs btn-flat btn-success">
                                            上架
                                        </a>
                                        <a th:href="@{/ad/delete(id=${item.id})}"
                                           class="btn btn-xs btn-flat btn-danger">删除
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a th:href="@{/goods(pageNum=${adPageInfo.prePage})}">&laquo;</a></li>
                                <li th:each="navigatepageNum,state : ${adPageInfo.navigatepageNums}"><a
                                        th:href="@{/goods(pageNum=${navigatepageNum},pageSize=${adPageInfo.pageSize})}"
                                        th:text="${navigatepageNum}">2</a></li>
                                <li><a th:href="@{/goods(pageNum=${adPageInfo.lastPage})}">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>


        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <p>确定删除&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-outline">删除</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:replace='layout/control :: control'></div>
    <!-- /.control-sidebar -->

    <!-- footer -->
    <div th:replace='layout/footer :: footer'></div>
    <!-- /footer -->
</div>
<!-- ./wrapper -->


<div th:replace='layout/scripts :: scripts'></div>
</body>
</html>


