<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace='layout/header :: header'></head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">

<!-- wrapper -->
<div class="wrapper">
    <div th:replace='layout/top :: top'></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace='layout/left :: left'></div>
    <!-- /Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                广告位
                <small th:text="${'共计 '+attributeCount+' 个广告位'}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">广告位</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>编号</th>
                                    <th>分类</th>
                                    <th>名称</th>
                                    <th>输入类型</th>
                                    <th>值</th>
                                    <th>排序</th>
                                    <th>操作</th>
                                </tr>
                                <tr th:each="item,state : ${attributePageInfo.list}">
                                    <td>
                                        <a th:href="@{'/attribute/'+${item.id}}" th:text="${item.id}"></a>
                                    </td>
                                    <td th:text="${item.attributeCategoryId}"></td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.inputType}"></td>
                                    <td th:text="${item.values}"></td>
                                    <td th:text="${item.sortOrder}"></td>
                                    <td>
                                        <button class="btn btn-xs btn-flat btn-warning">下架</button>
                                        <button class="btn btn-xs btn-flat btn-primary">上架</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a th:href="@{/attribute(pageNum=${attributePageInfo.prePage})}">&laquo;</a></li>
                                <li th:each="navigatepageNum,state : ${attributePageInfo.navigatepageNums}"><a
                                        th:href="@{/attribute(pageNum=${navigatepageNum},pageSize=${attributePageInfo.pageSize})}"
                                        th:text="${navigatepageNum}">2</a></li>
                                <li><a th:href="@{/attribute(pageNum=${attributePageInfo.lastPage})}">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:replace='layout/control :: control'></div>
    <!-- /.control-sidebar -->

    <!-- footer -->
    <div th:replace='layout/footer :: footer'></div>
    <!-- /footer -->
</div>
<!-- ./wrapper -->


<div th:replace='layout/scripts :: scripts'></div>
</body>
</html>


