<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace='layout/header :: header'></head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">

<!-- wrapper -->
<div class="wrapper">
    <div th:replace='layout/top :: top'></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace='layout/left :: left'></div>
    <!-- /Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                商品列表
                <small th:text="${'共计 '+goodsCount+' 种商品'}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">商品列表</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>编号</th>
                                    <th>SN</th>
                                    <th>名称</th>
                                    <th>单位</th>
                                    <th>价格</th>
                                    <th>在售</th>
                                    <th>新品</th>
                                    <th>热销</th>
                                    <th>销量</th>
                                    <th>操作</th>
                                </tr>
                                <tr th:each="item,state : ${goodsPageInfo.list}">
                                    <td th:text="${item.id}">

                                    </td>
                                    <td th:text="${item.goodsSn}"></td>
                                    <td>
                                        <a th:href="@{'/goods/'+${item.id}}" th:text="${item.name}"></a>
                                    </td>
                                    <td th:text="${item.goodsUnit}"></td>
                                    <td th:text="${item.retailPrice}"></td>
                                    <td><span th:class="${item.isOnSale==1}? 'label label-success':'label label-danger'"
                                              th:text="${item.isOnSale==1}? '是':'否'"></span></td>
                                    <td><span th:class="${item.isNew==1}? 'label label-success':'label label-danger'"
                                              th:text="${item.isNew==1}? '是':'否'"></span></td>
                                    <td><span th:class="${item.isHot==1}? 'label label-success':'label label-danger'"
                                              th:text="${item.isHot==1}? '是':'否'"></span></td>
                                    <td th:text="${item.sellVolume}"></td>
                                    <td>
                                        <a th:href="@{/goods/new(id=${item.id},isNew=0,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isNew==1}"
                                           class="btn btn-xs btn-flat btn-danger">取消新品</a>
                                        <a th:href="@{/goods/new(id=${item.id},isNew=1,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isNew==0}"
                                           class="btn btn-xs btn-flat btn-success">设置新品</a>
                                        <a th:href="@{/goods/hot(id=${item.id},isHot=0,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isHot==1}"
                                           class="btn btn-xs btn-flat btn-danger">取消热销</a>
                                        <a th:href="@{/goods/hot(id=${item.id},isHot=1,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isHot==0}"
                                           class="btn btn-xs btn-flat btn-success">设置热销</a>
                                        <a th:href="@{/goods/enabled(id=${item.id},enabled=0,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isOnSale==1}"
                                           class="btn btn-xs btn-flat btn-warning">下架</a>
                                        <a th:href="@{/goods/enabled(id=${item.id},enabled=1,pageNum=${goodsPageInfo.pageNum},pageSize=${goodsPageInfo.pageSize})}"
                                           th:if="${item.isOnSale==0}"
                                           class="btn btn-xs btn-flat btn-primary">上架</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a th:href="@{/goods(pageNum=${goodsPageInfo.prePage})}">&laquo;</a></li>
                                <li th:each="navigatepageNum,state : ${goodsPageInfo.navigatepageNums}"><a
                                        th:href="@{/goods(pageNum=${navigatepageNum},pageSize=${goodsPageInfo.pageSize})}"
                                        th:text="${navigatepageNum}">2</a></li>
                                <li><a th:href="@{/goods(pageNum=${goodsPageInfo.lastPage})}">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <div th:replace='layout/control :: control'></div>
    <!-- /.control-sidebar -->

    <!-- footer -->
    <div th:replace='layout/footer :: footer'></div>
    <!-- /footer -->
</div>
<!-- ./wrapper -->


<div th:replace='layout/scripts :: scripts'></div>
</body>
</html>


