<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xie.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.xie.bean.Cart">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="session_id" property="sessionId" jdbcType="CHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
        <result column="number" property="number" jdbcType="SMALLINT"/>
        <result column="goods_specifition_ids" property="goodsSpecifitionIds" jdbcType="VARCHAR"/>
        <result column="checked" property="checked" jdbcType="BIT"/>
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.xie.bean.Cart" extends="BaseResultMap">
        <result column="goods_specifition_name_value" property="goodsSpecifitionNameValue" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, session_id, goods_id, goods_sn, product_id, goods_name, market_price, 
    retail_price, number, goods_specifition_ids, checked, list_pic_url
  </sql>
    <sql id="Blob_Column_List">
    goods_specifition_name_value
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cart
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByGidAndPid" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cart
        where 1=1
        <if test="goodsId!=null">
            AND goods_id = #{goodsId,jdbcType=INTEGER}
        </if>
        <if test="goodsId!=null">
            AND product_id = #{productId,jdbcType=INTEGER}
        </if>
    </select>

    <select id="count" resultType="integer" parameterType="java.lang.Integer">
        SELECT SUM(number)
        from cart
        where user_id = #{uid,jdbcType=INTEGER}
    </select>

    <select id="selectByUid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cart
        where user_id = #{uid,jdbcType=INTEGER}
    </select>

    <select id="selectByUidChecked" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from cart
        where user_id = #{uid,jdbcType=INTEGER} AND checked=1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from cart
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteCheckedByUid">
        delete from cart
        where user_id = #{uid,jdbcType=INTEGER} AND checked=1
    </delete>

    <delete id="deleteByUid">
        delete from cart
        where user_id = #{uid,jdbcType=INTEGER}
    </delete>

    <update id="updateCheckedByProductId">
        update cart
        set checked = #{checked,jdbcType=INTEGER}
        WHERE user_id = #{uid,jdbcType=INTEGER}
        AND product_id IN
        <foreach collection="productIds" open="(" close=")" item="productId" separator=",">
            #{productId,jdbcType=INTEGER}
        </foreach>
    </update>

    <update id="updateNumberByProductId">
        update cart
        set checked = #{checked,jdbcType=INTEGER}
        WHERE user_id = #{uid,jdbcType=INTEGER}
        AND product_id IN
        <foreach collection="productIds" open="(" close=")" item="productId" separator=",">
            #{productId,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="deleteByProductId">
        DELETE FROM cart
        WHERE user_id = #{uid,jdbcType=INTEGER}
        AND product_id IN
        <foreach collection="productIds" open="(" close=")" item="productId" separator=",">
            #{productId,jdbcType=INTEGER}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.xie.bean.Cart">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into cart (id, user_id, session_id,
        goods_id, goods_sn, product_id,
        goods_name, market_price, retail_price,
        number, goods_specifition_ids, checked,
        list_pic_url, goods_specifition_name_value
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sessionId,jdbcType=CHAR},
        #{goodsId,jdbcType=INTEGER}, #{goodsSn,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER},
        #{goodsName,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DECIMAL}, #{retailPrice,jdbcType=DECIMAL},
        #{number,jdbcType=SMALLINT}, #{goodsSpecifitionIds,jdbcType=VARCHAR}, #{checked,jdbcType=BIT},
        #{listPicUrl,jdbcType=VARCHAR}, #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.xie.bean.Cart">
        insert into cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="sessionId != null">
                session_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="marketPrice != null">
                market_price,
            </if>
            <if test="retailPrice != null">
                retail_price,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="goodsSpecifitionIds != null">
                goods_specifition_ids,
            </if>
            <if test="checked != null">
                checked,
            </if>
            <if test="listPicUrl != null">
                list_pic_url,
            </if>
            <if test="goodsSpecifitionNameValue != null">
                goods_specifition_name_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="sessionId != null">
                #{sessionId,jdbcType=CHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsSn != null">
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null">
                #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="number != null">
                #{number,jdbcType=SMALLINT},
            </if>
            <if test="goodsSpecifitionIds != null">
                #{goodsSpecifitionIds,jdbcType=VARCHAR},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=BIT},
            </if>
            <if test="listPicUrl != null">
                #{listPicUrl,jdbcType=VARCHAR},
            </if>
            <if test="goodsSpecifitionNameValue != null">
                #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xie.bean.Cart">
        update cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="sessionId != null">
                session_id = #{sessionId,jdbcType=CHAR},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                retail_price = #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=SMALLINT},
            </if>
            <if test="goodsSpecifitionIds != null">
                goods_specifition_ids = #{goodsSpecifitionIds,jdbcType=VARCHAR},
            </if>
            <if test="checked != null">
                checked = #{checked,jdbcType=BIT},
            </if>
            <if test="listPicUrl != null">
                list_pic_url = #{listPicUrl,jdbcType=VARCHAR},
            </if>
            <if test="goodsSpecifitionNameValue != null">
                goods_specifition_name_value = #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xie.bean.Cart">
    update cart
    set user_id = #{userId,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=CHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=SMALLINT},
      goods_specifition_ids = #{goodsSpecifitionIds,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=BIT},
      list_pic_url = #{listPicUrl,jdbcType=VARCHAR},
      goods_specifition_name_value = #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xie.bean.Cart">
    update cart
    set user_id = #{userId,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=CHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=SMALLINT},
      goods_specifition_ids = #{goodsSpecifitionIds,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=BIT},
      list_pic_url = #{listPicUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>