<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xie.mapper.PermissionRoleMapper">
    <resultMap id="BaseResultMap" type="com.xie.bean.PermissionRoleKey">
        <id column="permission_id" property="permissionId" jdbcType="INTEGER"/>
        <id column="role_id" property="roleId" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="com.xie.bean.PermissionRoleKey">
    delete from permission_role
    where permission_id = #{permissionId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xie.bean.PermissionRoleKey">
        <selectKey resultType="Java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    insert into permission_role (permission_id, role_id)
    values (#{permissionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.xie.bean.PermissionRoleKey">
        insert into permission_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>