<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xie.mapper.SpecificationMapper">
    <resultMap id="BaseResultMap" type="com.xie.bean.Specification">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sort_order" property="sortOrder" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, sort_order
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from specification
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from specification
    </select>

    <select id="count" resultType="integer">
    select count(1)
    from specification
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from specification
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xie.bean.Specification">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into specification (id, name, sort_order
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sortOrder,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.xie.bean.Specification">
        insert into specification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xie.bean.Specification">
        update specification
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xie.bean.Specification">
    update specification
    set name = #{name,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>